@import "tailwindcss";

.font-montserrat{
  
  font-family: "montserrat", sans-serif;
}

header ul li{
  @apply px-2;
}

.bg-primary{
  background: rgb(85, 81, 227);
}

.bg-secondary{
  background:#2b2d77;
}

.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-600 w-full h-1/4;
}

.mobile-nav li{
  @apply w-full h-full border-b-2 text-center;
}

.project-desc{
  @apply absolute right-0 left-0 bottom-0 top-0 bg-[#2b2d77] opacity-0 duration-500 hover:opacity-100;
}

.btn{
  @apply bg-[#5551E3] px-5 py-2 font-bold hover:border-2 border-white rounded;
}

html{
  scroll-behavior: smooth;
}